.inputOk {
  -fx-text-fill: green;
}

.inputNotOk {
  -fx-text-fill: red;
}
.comboboxOk {
  -fx-outer-border: green;
}

.comboboxNotOk {
  -fx-outer-border: red;
}


.label {
	-fx-padding: 5.0px;
    -fx-min-width: 200.0;
    -fx-max-width: 2000.0;
  	-fx-alignment: center;
}




