.inputOk {
  -fx-text-fill: green;
}

.inputNotOk {
  -fx-text-fill: red;
}
.comboboxOk {
  -fx-outer-border: green;
}

.comboboxNotOk {
  -fx-outer-border: red;
}


.label {
	-fx-padding: 5.0px;
    -fx-min-width: 200.0;
    -fx-max-width: 2000.0;
  	-fx-alignment: center;
}
.button {
	-fx-background-color:
	#000000, 
	linear-gradient(#7ebcea, #2f4b8f),
	linear-gradient(#426ab7, #263e75),
	linear-gradient(#395cab, #223768);
	-fx-background-inserts:0,1,2,3;
	-fx-background-radius:3,2,2,2;
	fx-padding: 12 30 12 30;
	-fx-text-fill: white;
	-fx-font-size: 12px;
	}
	





