.areaOk {
  -fx-text-fill: green;
}

.areaNotOk {
  -fx-text-fill: red;
}
.countryOk {
  -fx-text-fill: green;
}

.countryNotOk {
  -fx-text-fill: red;
}

.label {
	-fx-padding: 5.0px;
    -fx-min-width: 200.0;
    -fx-max-width: 2000.0;
  	-fx-alignment: center;
}

.button {
	-fx-padding: 5.0px;
    -fx-min-width: 200.0;
    -fx-max-width: 2000.0;
  	-fx-alignment: center;
}



